body {
  margin: 0 auto; }

.container-banner {
  text-align: center; }

.movie-row {
  padding: 10px; }
  .movie-row .poster {
    box-shadow: 0px 1px 8px rgba(50, 50, 50, 0.59); }

.movie-info {
  margin: 0px 0 25px 0; }
  .movie-info h4, .movie-info h5, .movie-info h6 {
    line-height: 0.7; }
  .movie-info .movie-title {
    font-weight: bold; }
    .movie-info .movie-title small {
      color: #cd2628; }

.fi-arrow-up {
  color: green; }

.fi-arrow-right {
  color: orange; }

.fi-arrow-down {
  color: red; }

.details-poster {
  float: left;
  margin-top: 20px;
  padding-left: 15px; }

.details {
  margin: 10px 0 0 0; }
  .details h3 {
    color: #cd2628; }
  .details h5 b {
    color: black; }

.results {
  margin-top: 10px;
  margin-bottom: 30px; }

.result_number {
  text-align: center; }

.fi-like {
  color: green; }

.fi-social-twitter {
  color: #55acee; }

.fi-dislike {
  color: #cd2628; }

.trailer {
  text-align: center; }

.footer p {
  text-align: right; }
