$background: #3b424b;
$anthracite: #2b3039;
$red: #cd2628;

@mixin shadow {
    box-shadow:  0px 1px 8px rgba(50, 50, 50, 0.59);
}

@mixin border {
    border: 6px solid darken($background, 7%);
}

body {
    margin: 0 auto;
}

.container-banner {
    text-align: center;
}

.movie-row {
    padding: 10px;

    .poster {
        @include shadow;
    }
}

.movie-info {
        h4, h5, h6 {line-height: 0.7;}
        .movie-title {
            font-weight: bold; 
            small {color: $red;}
        }
        margin: 0px 0 25px 0;
}

.fi-arrow-up {color: green;}
.fi-arrow-right {color: orange;}
.fi-arrow-down {color: red;}



