$background: #3b424b;
$anthracite: #2b3039;
$red: #cd2628;
$tooltip-text: white;
$twitter: #55ACEE;

@mixin shadow {
    box-shadow:  0px 1px 8px rgba(50, 50, 50, 0.59);
}

@mixin border {
    border: 6px solid darken($background, 7%);
}

body {
    margin: 0 auto;
}

.container-banner {
    text-align: center;
}

.movie-row {
    padding: 10px;

    .poster {
        @include shadow;
    }
}

.movie-info {
        h4, h5, h6 {line-height: 0.7;}
        .movie-title {
            font-weight: bold; 
            small {color: $red;}
        }
        margin: 0px 0 25px 0;
}

.fi-arrow-up {color: green;}
.fi-arrow-right {color: orange;}
.fi-arrow-down {color: red;}


.details-poster {float: left; margin-top: 20px; padding-left: 15px;}
.details {
    margin: 10px 0 0 0; 

    h3{color: $red;}
    h5 b {color: black;}
}

.results {margin-top: 10px; margin-bottom: 30px;}
.result_number {text-align: center;}
.fi-like {color: green;}
.fi-social-twitter {color: $twitter;}
.fi-dislike {color: $red;}

.trailer {text-align: center;}

.footer p {text-align:right;}
