<nav class="top-bar" data-topbar>
  <!-- Title -->
  <ul class="title-area">
    <li class="name"><h1></h1></li>

    <!-- Mobile Menu Toggle -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <!-- Top Bar Section -->
  
<section class="top-bar-section">

    <!-- Top Bar Left Nav Elements -->
    <ul class="left">
      <li>{{#link-to 'movies'}}<i class="fi-ticket"></i>     En Salle{{/link-to}}</li>
      <li><a href="#"><i class="fi-crown"></i>     Top 10</a></li>
	    <li><a href="#"><i class="fi-clock"></i>   Prochainement</a></li>
    </ul>
 
    <!-- Top Bar Right Nav Elements -->
    <ul class="right">
    <li class="has-form">
  <div class="row collapse">
    <div class="large-8 small-9 columns">
      <input type="text" placeholder="Find Stuff">
    </div>
    <div class="large-4 small-3 columns">
      <a href="#" class="alert button expand"><i class="hide-for-medium-only fi-magnifying-glass"></i> Search</a>
    </div>
  </div>
</li>
    </ul>
  </section></nav>  