<div class="container-banner">
<div class="row">
	<div class="large-12" >
		<img src="img/banner.jpg" alt="">
	</div>
</div>
</div>


<div class="row">
	<div class="large-12">
		{{top-bar}}
	</div>
</div>


{{outlet}}
